{% extends "base.html" %}

{% block content %}
  <h1>Driver: {{ driver.username }}</h1>
  <p><strong>First name:</strong> {{ driver.first_name }}</p>
  <p><strong>Last name:</strong> {{ driver.last_name }}</p>
  <p><strong>License number:</strong> {{ driver.license_number }}</p>
  <div class="ml-3">
    <h3>All cars of the: {{ driver.username }}</h3>
    <ul>
      {% for car in driver.cars.all %}
        {% if car.model %}
          <li>{{ car.model }}</li>
        {% endif %}
      {% empty %}
        <p>No car.</p>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
